* {
  box-sizing: border-box;
}

html {
  font-size: 16px;
  line-height: 1.5;
  font-family: sans-serif;
}

body {
  position: relative;

  margin: 0;
  padding: 0;
}

.main__wrapper {
  max-width: 670px;
  margin: 0 auto;
  padding: 70px 15px 35px;
}

.progress__wrap {
  position: fixed;
  top: 0;
  left: 0;

  width: 100%;

  background: #cecece;
}

.progress__inner {
  width: 0;
  padding: 8px;

  text-align: center;
  color: #ffffff;

  background: #0026ff;
}
